<html ng-app="gemStore">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.1.1/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<script type="text/javascript" src="assets/js/angular.min.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
		<script type="text/javascript" src="assets/js/variables.js"></script>
	</head>
	<body ng-controller="StoreController as store">
		<div class="container">
			<div class="list-group-item row" ng-repeat="product in store.products" >
				<h3>
					<div class="pull-left">{{product.name}}</div>
					<div class="pull-right">{{product.price | currency}}</div>
				</h3>
				<div class="space"></div>
				<!-- Image Gallery  -->
				<section class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
	        <div class="img-wrap center">
	          <img ng-src="{{product.images[gallery.current]}}">
	        </div>
	        <br>
	        <div class="center">
		        <ul class="img-thumbnails clearfix">
		          <li class="thumbnail pull-left" ng-repeat="image in product.images">
		            <img ng-src="{{image}}">
		          </li>
		        </ul>
	        </div>
	      </section>
	      <section class="tab" ng-controller="TabController as tab">
	      	<ul class="nav nav-pills">
	      		<li ng-class="{active: tab.isSelected(1)}">
	      			<a href ng-click="tab.selectTab(1)">Description</a>
	      		</li>
	      		<li ng-class="{active: tab.isSelected(2)}">
	      			<a href ng-click="tab.selectTab(2)">Specs</a>
	      		</li>
	      		<li ng-class="{active: tab.isSelected(3)}">
	      			<a href ng-click="tab.selectTab(3)">Reviews</a>
	      		</li>
	      	</ul>
	      	<div ng-show="tab.isSelected(1)">
	          <h4>Description</h4>
						<blockquote>{{product.description}}</blockquote>
	        </div>
	        <div ng-show="tab.isSelected(2)">
	          <h4>Specs</h4>
	          <blockquote>
							<ul class="list-unstyled">
							  <li>
							    <strong>Shine</strong>
							    : {{product.shine}}</li>
							  <li>
							    <strong>Faces</strong>
							    : {{product.faces}}</li>
							  <li>
							    <strong>Rarity</strong>
							    : {{product.rarity}}</li>
							  <li>
							    <strong>Color</strong>
							    : {{product.color}}</li>
							</ul>
						</blockquote>
	        </div>
	        <div ng-show="tab.isSelected(3)" ng-controller="ReviewController as reviewCtrl">
	        	<h4>Reviews</h4>
						<ul id="review">
							<li ng-repeat="review in product.reviews">
								<div class="row">
						  		<div class="col-sm-12">
						  			<blockquote>
								  			{{review.stars}} Stars
								  			<br>
												{{review.body}}
								  			<cite class="clearfix">- {{review.author}} {{review.createdOn | date}}</cite>
								  	</blockquote>
								  	<button class="destroy" ng-click="reviewCtrl.removeReview(product, $index)">X</button>
							  	</div>
						  	</div>
							</li>
						</ul>
						<!-- Review Frorm -->
						<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
							<!-- Live preview -->
							<blockquote>
						    <strong>{{reviewCtrl.review.stars}} Stars</strong>
						    <br>
						    {{reviewCtrl.review.body}}
						    <cite class="clearfix">- {{reviewCtrl.review.author}}</cite>
						  </blockquote>
						  <!--  Review Form -->
						  <h4>Submit a Review</h4>
						  <fieldset class="form-group">
						    <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" ng-model="reviewCtrl.review.stars" required>
						      <option value="">Rate the Product</option>
						    </select>
						  </fieldset>
						  <fieldset class="form-group">
						    <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author" required>
						  </fieldset>
						  <fieldset class="form-group textarea">
						    <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body"></textarea>
						  </fieldset>
						  <fieldset class="form-group">
						    <input type="submit" class="btn btn-primary pull-right" value="Submit Review">
						  </fieldset>
						</form>
	        </div>
	      </section>
			</div>
		</div>
	</body>
</html>